<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SkiQL -->
      <package
            uri="http://www.um.es/uschema/xtext/SkiQL"
            class="es.um.uschema.xtext.skiql.SkiQLPackage"
            genModel="model/SkiQL.genmodel"/>
   </extension>

</plugin>
